.div{
    background: #000;
    color: white;
}

@media(width : 400px){
    .div{
        background: magenta;
    }
}
@media(min-width: 500px){
    .div{
        background: blue;
    }
}
@media(max-width: 300px){
    .div{
        background: yellowgreen;
    }
}
@media(orientation: landscape){
    .div{
        background: gray;
        color: aqua;
    }
}